extends layout

block content
    //Simple placeholder About Us page with desired functionality
    h1.logo About Us

    img(src="/images/downtownlogo.png", alt='Placeholder Image')

    p.place /The large logo image above is being used as a placeholder for any desired image (such as a picture of the store itself)/
    p.place /About Us Placeholder Text - Story told here/

    //Displays error message on screen where required
    if errMessage
        p.err-msg= errMessage

    //Footer with contacts, link to homepage
    footer
        hr
        table
            tr
                td Downtown Donuts | 
                td 123 Main Street, Downtown | 
                td (555) 867-5309 | 
                td 
                    a(href='/') Home Page