extends layout

block content
    h1 about us

    if errMessage
        p.err-msg= errMessage

    footer
        hr
        table
            tr
                td Downtown Donuts | 
                td 123 Main Street, Downtown | 
                td (555) 867-5309 | 
                td 
                    a(href='/') Home Page