extends layout

block content
  
  h1.logo= title
  p Welcome to #{title}

  if errMessage
        p.err-msg= errMessage

  p
    a(href='/menu') View our menu!
  
  p
    a(href='/comments') Tell us how we're doing!

  
  footer
    hr
    table
      tr
        td Downtown Donuts | 
        td 123 Main Street, Downtown | 
        td (555) 867-5309 | 
        td 
          a(href='/about') About Us
                  