extends layout

block content
  h1= title
  p Welcome to #{title}

  if errMessage
        p.err-msg= errMessage
  
  footer
    p Other pages:
    ul
      a(href='/about') About Us
      br
      a(href='/menu') Menu
      br
      a(href='/comments') Comments
      br