extends layout

block content
    h1 menu

    if errMessage
        p.err-msg= errMessage

    footer
        p Other pages:
        ul
            a(href='/') Landing Page
            a(href='/about') About Us
            a(href='/comments') Comments