extends layout

block content

    h1.logo= title
    hr
    h1 SIGNATURE DONUTS
    hr
    h4 Handcrafted fresh every morning

    table.menu-table
        tr
            td Classic Glazed
                br
                div.menu-desc Our legendary original - light, fluffy, and perfectly glazed
            td.price $2.50
        tr
            td Maple Bacon Bar
                br
                div.menu-desc Rich maple glaze topped with crispy applewood bacon
            td.price $3.75
        tr
            td Boston Cream
                br
                div.menu-desc Bavarian cream filling, dark chocolate ganache topping 
            td.price $3.50
        tr
            td Blueberry Cake
                br
                div.menu-desc Dense cake donut bursting with fresh blueberries 
            td.price $3.25
        tr
            td Cinnamon Sugar Twist
                br
                div.menu-desc Hand-twisted and tossed in cinnamon sugar 
            td.price $2.75
        tr
            td Strawberry Frosted
                br
                div.menu-desc Vanilla donut with strawberry glaze and rainbow sprinkles
            td.price $3.00
        tr
            td Chocolate Old Fashioned
                br
                div.menu-desc Sour cream donut with rich chocolate glaze 
            td.price $3.25
        tr
            td Lemon Poppy Seed
                br
                div.menu-desc Bright lemon glaze with poppy seed crunch 
            td.price $3.50
        tr
            td Dulce de Leche
                br
                div.menu-desc Caramel cream filled, drizzled with dulce de leche 
            td.price $3.75
        tr
            td PB &amp; J
                br
                div.menu-desc Peanut butter glaze with raspberry jam filling 
            td.price $3.75

    h3 DONUT HOLES
        div.menu-desc Mix and Match flavors!
    table.menu-table
        tr
            td Glazed Chocolate, or Cinnamon
            td.price Half Dozen $4.50 | Dozen $7.99
    hr
    h1 DRINKS &amp; MORE 
    hr
    h2 COFFEE 
    h4 Locally roasted beans - Always fresh

    table.menu-table
        tr
            th
            th.price SM
            th.price MD 
            th.price LG 
        tr  
            td Drip Coffee
                br
                div.menu-desc House blend or single origin
            td.price $2.25
            td.price $2.75
            td.price $3.25
        tr  
            td Cold Brew
                br
                div.menu-desc Slow-steeped 18 hours, smooth and bold
            td.price $3.50
            td.price $4.00
            td.price $4.50
        tr  
            td Espresso
                br
                div.menu-desc Double shot pulled to order
            td.price $3.00
            td.price  ----
            td.price  ----
        tr  
            td Americano
                br
                div.menu-desc Espresso and hot water, classic and clean
            td.price $3.25
            td.price $3.75
            td.price $4.25
        tr  
            td Latte
                br
                div.menu-desc Espresso with steamed milk
            td.price $4.25
            td.price $4.75
            td.price $5.25
        tr  
            td Cappuccino
                br
                div.menu-desc Equal parts espresso, steamed milk, foam
            td.price $4.25
            td.price $4.75
            td.price $5.25
        tr  
            td Mocha
                br
                div.menu-desc Espresso, chocolate, steamed milk, whipped cream
            td.price $4.75
            td.price $5.25
            td.price $5.75
        tr  
            td Vanilla Chai Latte
                br
                div.menu-desc Spiced chai with vanilla and steamed milk
            td.price $4.50
            td.price $5.00
            td.price $5.50
    
    h3 ADD-ONS
    p.addons Extra Shot +$0.75 | Flavored Syrup +$0.50 | Oat/Almond/Soy Milk +$0.60 | Whipped cream +$0.50 | Cold foam +$0.75

    hr

    h2 OTHER DRINKS
    table.menu-table
        tr
            td Fresh Squeezed OJ
            td.price $3.50
        tr
            td Hot Chocolate
            td.price $3.75
        tr
            td Iced Tea (Sweet/Unsweet)
            td.price $2.50
        tr
            td Lemonade
            td.price $2.75
        tr
            td Milk (Whole, Chocolate, Strawberry)
            td.price $2.00
        tr
            td Apple Cider (Seasonal)
            td.price $3.50
    
    h2 BREAKFAST BITES
    table.menu-table
        tr
            td Egg &amp; Cheese Croissant
            td.price $5.50
        tr
            td Bacon Breakfast Sandwich
            td.price $6.25
        tr
            td Avocado Toast
            td.price $5.75
        tr
            td Yogurt Parfait
            td.price $4.50
    
    p.cater Catering available! Call (555) 867-5309 or email catering@downtowndonuts.com

    if errMessage
        p.err-msg= errMessage

    d

    footer
        hr
        table
            tr
                td Downtown Donuts | 
                td 123 Main Street, Downtown | 
                td (555) 867-5309 | 
                td 
                    a(href='/') Home Page