extends layout

block content
    h1 menu

    footer
        p Other pages:
        ul
            a(href='/') Landing Page
            a(href='/about') About Us
            a(href='/comments') Comments