@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat&display=swap');

body {
  padding: 50px;
  font: 16px 'Montserrat', sans-serif;
  color: #F7F7F7;
  background-color: #10291D;
  text-align: center;
}
header {
  display: flex;
  align-items: center;
}

a {
  color: #86ddff;
}

.menu-desc {
  color: grey;
  font-size: 12px;
}
table {
  margin: auto;
}
.menu-table {
  width: 100%;
  text-align:left;
  border-spacing: 10px;
}
.price {
  text-align: right;
}

.logo{
  font: 100px 'Italianno', sans-serif;
}

.place {
  font-size: 16px;
}

hr {
  border-color: #F7C64A;
}
.addons {
  font-size: 14px;
}